body {
	/* TABS */
	--margin_tab_top: -1px;
	--margin_tab_bottom: -1px;
	--margin_tab_left: 1px;
	--margin_tab_right: 1px;
	
	/* drag_enter top, bottom */
	--tab_drag_entered_top: 0px;
	--tab_drag_entered_bottom: 0px;

	/* PINS */
	--pin_margin_left: -1px;
	--pin_last_margin_right: 3px;
	--pin_margin_bottom: -1px;
	
	/* drag_enter left, right */
	--pin_drag_entered_top_left: 0px;
	--pin_drag_entered_bottom_right: 0px;

	/* PIN LIST */
	--pin_list_padding_top: 1px;
	--pin_list_padding_bottom: 2px;
	--pin_list_padding_left: 2px;
	
	--group_folders_top: 2px;
	--group_tabs_top: 2px;
}